<template>
  <header>
    <button
      class="btn"
      :style="{ background: color }"
      @click="onClick"
    >{{text}} {{test}}</button>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

const Button = defineComponent({
  props: {
    text: String,
    color: String,
  },
  data: () => ({
    test: 'abc',
  }),
  methods: {
    onClick(): void {
      if (this.test === 'abc') {
        this.test = 'cba';
      } else {
        this.test = 'abc';
      }
      console.log(`click: ${process.env.NODE_ENV}`);
    },
  },
});

export default Button;
</script>

<style scoped>
</style>
