<template>
  <header>
    <h1>{{title}}</h1>
    <Button
      @click="$emit('toggle-add-task')"
      :text="`Add Task ${showAddTask ? '-' : '+'}`"
      :color="showAddTask ? 'blue' : 'green'"
    />
  </header>
  <header>
    <SubHeading text="subheading via a test JSX component" />
  </header>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Button from './Button';
import SubHeading from './SubHeading';

@Options({
  components: {
    Button,
    SubHeading,
  },
  props: {
    title: {
      type: String,
      default: 'Hello World',
    },
    showAddTask: Boolean,
  },
  emits: ['toggle-add-task'],
})
export default class Header extends Vue {}
</script>

<style scoped>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
</style>
