<template>
<div
  @dblclick="onToggleReminder()"
  :class="[task.reminder ? 'reminder' : '', 'task']"
>
  <h3>
    {{ task.text }}
    {{' '}}
    <span class="delete" @click="onDeleteTask(task.id);">x</span>
  </h3>
  <p>{{ task.day }}</p>
</div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { identity } from '@jamesgmarks/utilities';

export default defineComponent({
  props: {
    task: Object,
    onDeleteTask: {
      type: Function as PropType<() => void>,
      default: identity,
    },
    onToggleReminder: {
      type: Function as PropType<() => void>,
      default: identity,
    },
  },
});

</script>

<style>
  .task {
    background-color: #cccccc;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .task.reminder {
    border-left: 5px solid green;
  }
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .delete {
    color: red;
  }
</style>
