<template>
  <div v-for="task in tasks" :key="task.id">
    <Task :task="task" @delete-task="$emit('delete-task', task.id)" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Task from './Task.vue';

export default defineComponent({
  name: 'Tasks',
  components: {
    Task,
  },
  emits: ['delete-task'],
  props: {
    tasks: Array,
  },
  methods: {},
  // render() {
  //   return (<div></div>)
  // },
});
</script>
