<template>
  <div class="container">
    <Header
      title="Task Tracker"
      @toggle-add-task="toggleAddTask"
      :showAddTask="showAddTask"
    />
    <div v-show="showAddTask">
      <AddTask
        @add-task="addTask"
      />
    </div>
    <Tasks
      :tasks="tasks"
      :onDeleteTask="deleteTask"
      :onToggleReminder="toggleReminder"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Header from './components/HeaderOld.vue';
// eslint-disable-next-line import/extensions, import/no-named-as-default-member
import Tasks from './components/Tasks';
import AddTask from './components/AddTask.vue';
import { ITask } from './interfaces/ITask';

@Options({
  components: {
    AddTask,
    Header,
    Tasks,
  },
})
export default class App extends Vue {
  tasks = [] as ITask[];

  showAddTask = false;

  api = {
    tasksUrl: 'http://localhost:5000/tasks',
  }

  async addTask(task: ITask) {
    const res = await fetch(`${this.api.tasksUrl}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(task),
    });
    const data = await res.json();
    this.tasks = [...this.tasks, data];
  }

  async created() {
    const newTasks = await this.fetchTasks();
    console.log({ newTasks });
    this.tasks = newTasks;
  }

  async deleteTask(id: number) {
    const res = await fetch(`${this.api.tasksUrl}/${id}`, {
      method: 'DELETE',
      // headers: { 'Content-Type': 'application/json' },
    });
    if (res.status === 200) {
      this.tasks = this.tasks.filter((t) => t.id !== id);
    }
  }

  toggleAddTask() {
    this.showAddTask = !this.showAddTask;
  }

  // eslint-disable-next-line class-methods-use-this
  async toggleReminder(id: number) {
    const taskToToggle = await this.fetchTask(id);
    const newTask = {
      ...taskToToggle,
      reminder: !taskToToggle.reminder,
    };
    const res = await fetch(`${this.api.tasksUrl}/${id}`, {
      method: 'PUT',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(newTask),
    });
    const data = await res.json();
    this.tasks = this.tasks.map((t) => (
      (t.id === data.id ? { ...data } : { ...t })
    ));
  }

  async fetchTasks() {
    const res = await fetch(this.api.tasksUrl);
    return res.json();
  }

  // eslint-disable-next-line class-methods-use-this
  async fetchTask(id: number) {
    const res = await fetch(`${this.api.tasksUrl}/${id}`);
    return res.json();
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn-block {
  display: block;
  width: 100%;
}
</style>
